<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text" id="text-15">
                        <h3 class="sidebar-header">Navigation</h3>
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Our Network</li>
                    </div>
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <!--<li> <a href="shop-index.html"><i class="fa fa-twitter"></i></a> </li>-->
                            <li> <a href="shop-index.html"><i class="fa fa-facebook"></i></a> </li>
                            <!--<li> <a href="shop-index.html"><i class="fa fa-linkedin"></i></a> </li>-->
                            <li> <a href="shop-index.html"><i class="fa fa-google-plus"></i></a> </li>
                            <li> <a href="shop-index.html"><i class="fa fa-youtube"></i></a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About</h3>
                        <div class="textwidget">
                            <p>Lambda is one of the largest <strong>international</strong> fashion companies.</p>
                            <p>The customer is at the heart of our unique business model, which includes design, production, <strong>distribution</strong> and sales through our extensive retail network.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget woocommerce widget_product_tag_cloud">
                        <h3 class="sidebar-header">Product Tags</h3>
                        <div class="tagcloud">
                            <ul>
                                <li> <a href='#' style='font-size: 11.5pt;' title='4 topics'>casual</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>fashion</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>new in</a> </li>
                                <li> <a href='#' style='font-size: 11.5pt;' title='4 topics'>on sale</a> </li>
                                <li> <a href='#' style='font-size: 8pt;' title='3 topics'>premium</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>Recommended</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>school</a> </li>
                                <li> <a href='#' style='font-size: 11.5pt;' title='4 topics'>selected homme</a> </li>
                                <li> <a href='#' style='font-size: 14.3pt;' title='5 topics'>Top 5</a> </li>
                                <li> <a href='#' style='font-size: 22pt;' title='9 topics'>Top 10</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>tops</a> </li>
                                <li> <a href='#' style='font-size: 16.75pt;' title='6 topics'>womens sale</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text" id="text-11">
                        <h3 class="sidebar-header">Payment</h3>
                        <div class="textwidget"> For credit card payments, you may use Visa, MasterCard or American Express. Additional forms of payment also available. </div>
                    </div>
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-cc-amex"></i></a> </li>
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-paypal"></i></a> </li>
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-bank"></i></a> </li>
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-cc-mastercard"></i></a> </li>
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-google-wallet"></i></a> </li>
                            <li> <a data-iconcolor="#3b9999" href="#"><i class="fa fa-credit-card"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget"> Copyright © 2017</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget"> <a href="shop-checkout.html">Checkout</a> | <a href="shop-terms.html">Terms</a> | <a href="shop-faq.html">FAQ</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>