
<style>
    @import url(assets/css/bootstrap.min.css);
    @import url(assets/css/theme.min.css);
    @import url(assets/css/shop.min.css);
    @import url(customcss/customcss.css);

</style>
<div class="pace-overlay"></div>
<div class="top-bar customisedMenu">
    <div class="container-fluid">
        <div class="top top-left">
            <div class="sidebar-widget text-left small-screen-center widget_text"> Opening Hours: 09:00 - 17:00 <strong>Sunday</strong>
                to <strong>Friday</strong></div>
        </div>
        <div class="top top-right">
            <div class="sidebar-widget text-right small-screen-center widget_nav_menu" id="nav_menu-5">
                <div class="menu-top-bar-menu-container">
                    <ul class="menu">
                        <li><a href="shop-checkout.html">Checkout</a></li>
                        <li><a href="shop-terms.html">Terms</a></li>
                        <li><a href="shop-faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-widget text-right small-screen-center custom_search">
                <form action="shop-index.html" method="get" name="searchform">
                    <div class="input-group">
                        <input class="form-control" id="s" name="s" placeholder="Search" type="text">
                        <span
                                class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="searchsubmit" value="Search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="menu navbar navbar-static-top header-logo-center-menu-below oxy-mega-menu text-caps" id="masthead">
    <div class="logo-navbar container-logo">
        <div class="container-fluid bg-black">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="indexDemo.html">
                    <h2><i>Pratik Computer Shop</i></h2>
                    <!--<img alt="PRATIK COMPUTER SHOP" src="#"> -->
                </a>
                <div class="logo-sidebar"></div>
                <div class="sidebar-widget widget_social pull-right custom_social">
                    <ul class="unstyled inline social-icons social-simple social-normal">
                        <li><a href="shop-index.html"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="shop-index.html"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="shop-index.html"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="shop-index.html"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="shop-index.html"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid menuwidth">
        <div class=" customisedMenu nav-container  clearfix ">
            <nav class="collapse navbar-collapse main-navbar">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-main">
                        <li class="menu-item dropdown active "><a href="index.html">Home</a>
                        </li>
                        <li class="menu-item dropdown menu-item-object-oxy_mega_menu">
                            <a href="aboutus.html">About Us</a>
                        </li>
                        <li class="menu-item dropdown "><a href="#">Product & Service</a>
                            <ul class="dropdown-menu dropdown-menu-left " role="menu">
                                <li class="menu-item"><a href="computer_gaming.html">Computer & Gaming</a></li>
                                <li class="menu-item"><a href="technology.html">Information Technology</a></li>
                                <li class="menu-item"><a href="repair.html">Repair & Maintenance</a></li>
                            </ul>

                        </li>
                        <li class="menu-item dropdown  menu-item-object-oxy_mega_menu">
                            <a href="our_network.html">Our Network</a>
                        </li>
                        <li class="menu-item dropdown  ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="customer_care.html">Customer
                                Care</a>
                        </li>
                        <li class="menu-item dropdown  ">
                            <a href="update.html">Update</a>
                        </li>
                        <li class="menu-item dropdown  ">
                            <a href="contactUs.html">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>
<a class="go-top go-top-square" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
<script type="text/javascript">
    var oxyThemeData = {
        navbarHeight: 130,
        navbarScrolled: 120,
        navbarScrolledPoint: 200,
        menuClose: 'off',
        scrollFinishedMessage: 'No more items to load.',
        hoverMenu: {
            hoverActive: true,
            hoverDelay: 200,
            hoverFadeDelay: 200
        },
        siteLoader: 'on'

    };



</script>
<script src="assets/js/theme.min.js"></script>