
*,
*:before,
*:after {
@include box-sizing(border-box);
}

html, body {
    background: #f1f1f1;
    font-family: 'Merriweather', sans-serif;
    padding: 1em;
}

p {
    text-align: center;
    color: #21a117; !important;
@include text-shadow(1px 1px 0 rgba(white, 1));
}
.contact {
    width: 400px;
    margin-left: 40%;
    height: 250px;
}
.div {
    max-width: 300px;
    text-align: center;
    margin: 20px auto;
}


input, textarea {
    border: 0;
    outline: 0;
    padding: 1em;
@include border-radius(8 px);
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
@include box-shadow(0 1 px 1 px rgba(black, 0.1));
    resize: none;
}

#input-submit {
    color: white;
    background: brown;
    cursor: pointer;
}


textarea {
    height: 126px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right { width: 50%; }

.left {
    margin-right: 2%;
}


@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}